rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /projects/{projectId} {
      allow create: if request.auth.uid != null && ("title" in request.resource.data);
      allow read, update, delete: if resource.data.user.uid == request.auth.uid;
      
      match /groups/{groupId} {
     		allow create, read, update, delete: if request.auth.uid != null;
      }
    }
    
  match /users/{userId} {
    allow read;
    allow write: if request.auth.uid == userId;
  	}
  }
}